<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x6476B5993BF0843</key>
	<string>sys/boot.c</string>
	<key>0xB4EBE6FDC23A646</key>
	<string>arch/arm64/mmu.c</string>
	<key>0xCB5568870038567</key>
	<string>arch/arm64/task.c</string>
	<key>0x7AB90C923DAE682</key>
	<string>apps/iBoot/boot.c</string>
	<key>0xE2CA9E943B7D5B6</key>
	<string>drivers/apple/dart_v1/dart.c</string>
	<key>0x3974BFD3D441DA3</key>
	<string>apps/iBoot/main.c</string>
	<key>0xB3C68EB611FF63B</key>
	<string>drivers/apple/ccc/ccc.c</string>
	<key>0x11A12B6063C71BB</key>
	<string>drivers/apple/ans2/ans2.c</string>
	<key>0x5383366E236C433</key>
	<string>drivers/apple/aes_v2/aes_v2.c</string>
	<key>0xA1D0368C9207C1</key>
	<string>drivers/usb/usb_controller.c</string>
	<key>0x337A834F05A86EB</key>
	<string>drivers/usb/usb_core.c</string>
	<key>0xC906DA4CD4F375</key>
	<string>drivers/apple/apcie/apcie.c</string>
	<key>0x8F871F6069439D2</key>
	<string>drivers/apple/dockchannel/dockchannel_uart.c</string>
	<key>0xC3BF8BCE75D7900</key>
	<string>drivers/synopsys/mipi/dsim.c</string>
	<key>0x62039C63193986A</key>
	<string>lib/sep*</string>
	<key>0xAD486FA393EC77A</key>
	<string>lib/image/image4/image4_partial.c</string>
	<key>0xA3A3143604D1CBE</key>
	<string>lib/image/image4/image4_wrapper.c</string>
	<key>0x894D6CA0C83ACD5</key>
	<string>lib/macho/dt.c</string>
	<key>0x34AD2E1B005DAC6</key>
	<string>lib/nonce/nonce.c</string>
	<key>0x7072B9B7898C01E</key>
	<string>lib/libc/printf_chk.c</string>
	<key>0x5E502D8F34B6C5E</key>
	<string>drivers/apple/prc/prc_v2.c</string>
	<key>0x8D3FF3CD3759614</key>
	<string>lib/rtbuddy/rtbuddy.c</string>
	<key>0x1A618789140AD84</key>
	<string>lib/rtbuddy/rtkit_firmware.c</string>
	<key>0x7F08E6B5656548F</key>
	<string>lib/rtbuddy/endpoints/management_ep.c</string>
	<key>0x2D2FA2A9625C0DE</key>
	<string>lib/rtbuddy/endpoints/syslog_ep.c</string>
	<key>0x8D1D6480ABE33DE</key>
	<string>lib/rtbuddy/endpoints/crashlog_ep.c</string>
	<key>0x8D1D6480ABE33DE</key>
	<string>lib/rtbuddy/endpoints/ioreporting_ep.c</string>
	<key>0xB347E76762BE1BA</key>
	<string>platform/generic/platform_indep.c</string>
	<key>0x2FA51A84CAA15D9</key>
	<string>lib/paniclog/paniclog.c</string>
	<key>0x305E555C8E4B974</key>
	<string>lib/devicetree/devicetree.c</string>
	<key>0x816E7CB5589F634</key>
	<string>lib/blockdev/mem_blockdev.c</string>
	<key>0x788B0AEB594B95D</key>
	<string>lib/blockdev/subdev.c</string>
	<key>0xF09613AC754F1B8</key>
	<string>lib/blockdev/blockdev.c</string>
	<key>0x5FB389C880ED083</key>
	<string>drivers/synopsys/usbotg/synopsys_otg.c</string>
	<key>0x6278F3453C5F534</key>
	<string>drivers/pci/pci.c</string>
	<key>0xE51893B627F0E6E</key>
	<string>lib/power/power.c</string>
	<key>0x6A6E5B077ED3D6F</key>
	<string>lib/devicetree/devicetree_load.c</string>
	<key>0x3118294EDA38CDE</key>
	<string>lib/fs/fs.c</string>
	<key>0x563CF8446498B88</key>
	<string>lib/slice/slice.c</string>
	<key>0x19E9CF362EF77C2</key>
	<string>lib/nvram/nvram.c</string>
	<key>0x7BA543EC4F1499A</key>
	<string>drivers/apple/aic/aic.c</string>
	<key>0xAA1D1774079E7E2</key>
	<string>drivers/apple/adisp/adisp_control.c</string>
	<key>0xEBB0C8CF7D66F4A</key>
	<string>drivers/apple/mailbox/mailbox64.c</string>
	<key>0xB362990ACD705AA</key>
	<string>drivers/apple/mailbox/mailbox128.c</string>
	<key>0x622F0E2B53BA400</key>
	<string>lib/fs/apfs/apfs_io.c</string>
	<key>0xADE6D1DD7D0323C</key>
	<string>target/iphone10/init.c</string>
	<key>0xC8236B3A04EE390</key>
	<string>lib/macho/macho.c</string>
	<key>0xDCE7B01F6EF60A3</key>
	<string>lib/macho/kernelcache.c</string>
	<key>0xBD8BE62280578BE</key>
	<string>sys/security.c</string>
	<key>0x383323A17A17BDD</key>
	<string>sys/hash.c</string>
	<key>0x2DF3B0111695F53</key>
	<string>platform/t8015/pmgr/pmgr.c</string>
	<key>0x7942354443EBD58</key>
	<string>platform/t8015/miu/miu.c</string>
	<key>0x36CB4C9CB751BC0</key>
	<string>platform/t8015/dcs_v2/dcs_calibration.c</string>
	<key>0x3DFCB770DC4184D</key>
	<string>lib/heap/heap.c</string>
	<key>0xEC06A4D16C8ADB1</key>
	<string>drivers/apple/dcs_v2/dcs.c</string>
	<key>0xD6FF466FDB426FD</key>
	<string>lib/paint/paint.c</string>
	<key>0x55765E86F67C884</key>
	<string>lib/sys/lock.c</string>
	<key>0x5F1BE8907CF85AE</key>
	<string>lib/trustcache/trustcache.c</string>
	<key>0x83EEEE7EBE28907</key>
	<string>lib/random/random.c</string>
	<key>0xD50AA58E23F4D4E</key>
	<string>drivers/apple/a7iop/a7iop.c</string>
	<key>0x32082F0991013E7</key>
	<string>lib/rtbuddy/endpoints/ioreporting_ep.c</string>	
	<key>0xB2AB4E1701FF796</key>
	<string>drivers/apple/gpio/gpio.c</string>
	<key>0x7311B67EEB2CB49</key>
	<string>drivers/apple/sart/sart.c</string>
	<key>0xB3206497B8A9782</key>
	<string>drivers/apple/reconfig/reconfig.c</string>
	<key>0xA623AE368D5800D</key>
	<string>drivers/apple/sep/sep_client.c</string>
	<key>0xD64E4AC4EF51039</key>
	<string>drivers/nvme/nvme.c</string>
	<key>0xEFF478CD85E2305</key>
	<string>lib/libc/misc.c</string>
	<key>0xF44C5811D66EAF6</key>
	<string>lib/huffman/huffman.c</string>
	<key>0xE2846AF5EB52553</key>
	<string>lib/enc/enc.c</string>
	<key>0xFA351F01526260A</key>
	<string>lib/mib/mib.c</string>
	<key>0xC3719295753C4D3</key>
	<string>sys/supervisor.c</string>
</dict>
</plist>